<div class="contenido">
    <div class="columnas">
        <div class="imagenes-tatuajes">
            <img src="tattoo/{{ busqueda.tatuajes }}/tatuaje1.PNG" alt="tatuaje1.PNG">
            <img src="tattoo/{{ busqueda.tatuajes }}/tatuaje2.PNG" alt="tatuaje2.PNG">
            <img src="tattoo/{{ busqueda.tatuajes }}/tatuaje3.PNG" alt="tatuaje3.PNG">
            <img src="tattoo/{{ busqueda.tatuajes }}/tatuaje4.PNG" alt="tatuaje4.PNG">
            <img src="tattoo/{{ busqueda.tatuajes }}/tatuaje5.PNG" alt="tatuaje5.PNG">
            <img src="tattoo/{{ busqueda.tatuajes }}/tatuaje6.PNG" alt="tatuaje6.PNG">
            <img src="tattoo/{{ busqueda.tatuajes }}/tatuaje7.PNG" alt="tatuaje7.PNG">
            <img src="tattoo/{{ busqueda.tatuajes }}/tatuaje8.PNG" alt="tatuaje8.PNG">
        </div>
    </div>
</div>