<div class="contenido">
    <div class="columnas">
        <div class="imagenes-piercing">
            <img src="piercing/{{ busqueda.piercings }}/piercing1.PNG" alt="piercing1.PNG">
            <img src="piercing/{{ busqueda.piercings }}/piercing2.PNG" alt="piercing2.PNG">
            <img src="piercing/{{ busqueda.piercings }}/piercing3.PNG" alt="piercing3.PNG">
            <img src="piercing/{{ busqueda.piercings }}/piercing4.PNG" alt="piercing4.PNG">
            <img src="piercing/{{ busqueda.piercings }}/piercing5.PNG" alt="piercing5.PNG">
            <img src="piercing/{{ busqueda.piercings }}/piercing6.PNG" alt="piercing6.PNG">
            <img src="piercing/{{ busqueda.piercings }}/piercing7.PNG" alt="piercing7.PNG">
            <img src="piercing/{{ busqueda.piercings }}/piercing8.PNG" alt="piercing8.PNG">
        </div>
    </div>
</div>