.imagenes-piercing {
    margin-top: 150px;
    margin-left: 100px;
    display: grid;
    flex-wrap: wrap; 
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    justify-content: center; 
}

.imagenes-piercing img {
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px; 
}
