<div class="contenido">
    <div class="columnas">
        <div class="perfil">
            <img src="{{ busqueda.imagen }}" alt=" {{ busqueda.nombre }} ">
        </div>
        
        <div class="descripcion">
            <p> {{ busqueda.descripcion }}</p>
        </div>

        <div class="imagenes-tatuajes">
            <div class="tatuajes">
                <img src="artistas/{{ busqueda.tatuajes }}/tatuaje1.jpg" alt="tatuaje1">
                <img src="artistas/{{ busqueda.tatuajes }}/tatuaje2.jpg" alt="tatuaje2">
                <img src="artistas/{{ busqueda.tatuajes }}/tatuaje3.jpg" alt="tatuaje3">
                <img src="artistas/{{ busqueda.tatuajes }}/tatuaje4.jpg" alt="tatuaje4">
                <img src="artistas/{{ busqueda.tatuajes }}/tatuaje5.jpg" alt="tatuaje5">
                <img src="artistas/{{ busqueda.tatuajes }}/tatuaje6.jpg" alt="tatuaje6">
            </div>
            
            <div class="diseño">
                <img src="artistas/{{ busqueda.tatuajes }}/diseño1.jpg" alt="diseño1">
                <img src="artistas/{{ busqueda.tatuajes }}/diseño2.jpg" alt="diseño2">
                <img src="artistas/{{ busqueda.tatuajes }}/diseño3.jpg" alt="diseño3">
                <img src="artistas/{{ busqueda.tatuajes }}/diseño4.jpg" alt="diseño4">
                <img src="artistas/{{ busqueda.tatuajes }}/diseño5.jpg" alt="diseño5">
                <img src="artistas/{{ busqueda.tatuajes }}/diseño6.jpg" alt="diseño6">
            </div>
        </div>
    </div>
</div>