.titulo h2 {
    margin-top: 130px;
    text-align: center;  
}

.galeriaArtistas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
    text-align: center;
    max-width: 80%;
    transform: translateX(150px);
    margin-top: 80px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.perfil img {
    margin-top: 10px; 
    width: 250px;
    height: auto;
    border-radius: 1000px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.perfil img:hover {
    background-color: #ffffff;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
    border-radius: 8px;
}

.perfil p:first-of-type {
    margin-top: 10px; 
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family: 'Komika', sans-serif;
}

.perfil p:nth-of-type(2) {
    margin-top: 0.5px; 
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #918c8c;
    font-weight: bold;
}

.perfil p:nth-of-type(3) {
    margin-top: 0.5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 700;
    font-family: 'Komika', sans-serif;
}