body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
}

.logo {
    max-width: 100px;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 250px;
}

.contenido-imagenes {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-left: 0;
}

.contenido-texto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    text-align: center;
    max-width: 100%;
    margin-top: 50px;
}

.descripcion {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.descripcion p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
