<section class="contenedor">
    <div class="contenido-texto">
        <div class="descripcion">
            <p>
                Tatuarse es mucho más que plasmar un diseño en la piel; es una forma de expresión personal que puede
                representar momentos significativos,
                homenajes, sueños o simplemente una forma de llevar el arte contigo para siempre. Cada tatuaje cuenta
                una historia única y especial para quien
                lo lleva. En nuestro estudio, nos tomamos el tiempo para comprender tus ideas, emociones y expectativas,
                guiándote en cada paso del proceso.
                Con años de experiencia en el mundo del tatuaje, estamos aquí para asesorarte sobre el diseño perfecto,
                el tamaño ideal, la ubicación más adecuada
                y el estilo que mejor refleje tu personalidad y esencia.
            </p>
        </div>
        <div class="contenido-imagenes">
            <div class="imagen">
                <img src="inicio/nombreEstudio.png" alt="Tatuaje artístico">
            </div>
        </div>

        <div class="imagen">
            <img src="inicio/personaTatuada.png" alt="Persona tatuada">
        </div>
    </div>
</section>